#board {
  margin: auto;
  border: 4px solid #999999;
  border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 2px;
  width: 220px;
  height: 220px;
  background-color:#999999;
}

.square {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 0.5px solid #eeeee8;
  border-radius: 0.5px;
  -moz-border-radius: 0.5px;
  margin: 1px;
  float: left;
  background-color: #eeeee8;
}

.ship-part {
  background-color: blue !important;
  border: 0.5px solid blue;
}

#harbor {
  margin: auto;
  border:4px solid #999999;
  border-radius: 4px;
  -moz-border-radius: 4px;
  padding:2px;
  width:150px;
  height:200px;
  background-color:#999999;
}

.frigate {
  width: 63px;
  height: 20px;
  padding: 0.5px 0 0 0.5px;
}